.navbar {
  position: absolute;
  top: 4px;
  left: 0;
  right: 30px;
  background: transparent;
}

.nav-item {
  margin-right: 1rem;

  button {
    height: 43px;
  }
}

.gmap-search {
  width: 300px !important;
  height: 43px;
}

.clinic-info {
  width: 400px;
  position: absolute;
  top: 10%;
  left: 10%;

  .fa {
    width: 13px;
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}