.navbar {
  position: absolute;
  top: 4px;
  left: 0;
  right: 30px;
  background: transparent;
}

.nav-item {
  margin-right: 1rem;

  button {
    height: 43px;
  }
}

.gmap-search {
  width: 300px !important;
  height: 43px;
}