.card-body {
  overflow-x: auto;
}
.profile-container {
  height: 300px;
  flex-direction: row;
  img {
      height: 300px;
      width: 300px;
      padding: 8px;
  }
  @media (max-width: 991px) {
      font-size: 14px;
  }
  @media (max-width: 767px) {
      flex-direction: column;
      height: auto;
  }
}
.col-12 {
  padding-bottom: 4px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
  &:first-of-type, &:last-of-type {
      border-bottom: 0;
  }
  & >>> button {
      height: 40px;
      font-size: 12px;
      padding-top: 0;
      padding-bottom: 0;
  }
}
.information-container {
  flex-direction: row;
  @media (max-width: 991px) {
      flex-direction: column;
  }
}
.payment-information {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #dfdfdf;
  @media (max-width: 991px) {
      border-bottom: 1px solid #dfdfdf;
      border-right: 0;
      padding-bottom: 4px;
  }
  & + div {
      @media (max-width: 991px) {
          padding-top: 4px;
      }
  }
}
.communication-container {
  height: auto;
  flex-direction: row;
  @media (max-width: 991px) {
      text-align: left;
  }
  .card-body {
      @media (max-width: 576px) {
          flex-direction: column;
          * {
              margin-bottom: .5rem;
          }
      }
  }
}
.log-out {
  font-size: 30px;
}
.request-table {
  min-width: 690px;
}
.history-table {
  min-width: 400px;
}

.hidden_header {
  display: none;
}
.checked {
  color: orange;
}