// Base
@import './reset';
@import './typography';
@import './responsiveness';

// Components
@import './components/buttons';
@import './components/tables';

// Html
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  body {
    background-color: #F5F6FB;
  }
}